<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      ติดต่อ
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-icon name="call-outline"></ion-icon> l 083 447 1190 <br>
  <ion-icon name="logo-google"></ion-icon> l sayadasyd060650gmail.com <br>
  <ion-icon name="logo-facebook"></ion-icon> l Fxam Syd <br>
  <ion-icon name="logo-instagram"></ion-icon> l sixthofjune._ <br>
  <ion-icon name="logo-tiktok"></ion-icon> l faxrennq._
</ion-content>
